{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true,
  },
  "plugins": [
    "jsdoc",
  ],
  "rules": { // override airbnb rules, add other rules
    "func-names": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "import/no-unresolved": ["error", { "ignore": ["^redux-form-material-ui"] }], // why complaints?
    "linebreak-style": 0,
    "max-statements": ["warn", 100],
    "no-use-before-define": ["off", {
      "functions": false, "classes": false
    }],
    "react/jsx-filename-extension": 0,
    "react/jsx-first-prop-new-line": 0,
    "jsdoc/check-param-names": 2,
    "jsdoc/check-tag-names": 2,
    "jsdoc/check-types": 2, // {type} starting with upper case letter is always OK
    "jsdoc/newline-after-description": [2, "always"],
    "jsdoc/require-description-complete-sentence": 0, // 2 prevents code in comments
    "jsdoc/require-hyphen-before-param-description": 2,
    "jsdoc/require-param": 2,
    "jsdoc/require-param-description": 2,
    "jsdoc/require-param-type": 2,
    "jsdoc/require-returns-description": 2,
    "jsdoc/require-returns-type": 2,
  },
  "settings": {
    "jsdoc": {
      "tagNamePreference": {
        "param": "param",
        "returns": "returns",
      }
    }
  },
}