# npm will use .gitignore if .npmignore does not exist. we don't want this.

### Specific to repo, DELETE THIS SECTION after you fork ###

# data folders
data/
data-dev/
# log folders
logs/
logs-dev/
# builds
public/dist/

### Specific to repo, UNCOMMENT THESE after you fork ###

# environmental variables
#.env
# configuration
#config/local*

### General ###

# npm modules
node_modules/
# to do
TODO.txt
# coverage report
coverage/
# security
config/local*
# logs
*.log
npm-debug.log*